<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, {{nameHtml}}</title>
</head>
<body>  Hello! Sayin' what up y'all!
    <p>You're at the {{content}} page. </p>
    <p><span style="color:blue">Beep-boop-bop!</span></p>
</body>
</html>