/*
 * Deeply impactful style sheet for a deeply impactful page
 */

body {
  background-color: rgb(253, 240, 200);
  align: center;
}

h1 {
  color: rgb(41, 23, 32);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: rgb(93, 112, 127)
}

.centered {
  text-align: center;
}